[package]
authors = ['deeper.network dev']
description = 'credit pallet for PoC in e2-chain.'
edition = '2018'
homepage = 'https://deeper.network'
license = 'Unlicense'
name = 'pallet-credit'
repository = 'https://github.com/e2chain-dev/e2-chain'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.4'

[dependencies.frame-support]
default-features = false
version = '2.0.0'

[dependencies.frame-system]
default-features = false
version = '2.0.0'

[dev-dependencies.sp-core]
default-features = false
version = '2.0.0'

[dev-dependencies.sp-io]
default-features = false
version = '2.0.0'

[dev-dependencies.sp-runtime]
default-features = false
version = '2.0.0'

[dev-dependencies]
node-primitives = {version = '2.0.0', default-features = false, path = "../../primitives"}

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'node-primitives/std',
]
