[package]
name = "node-cli"
version = "2.0.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Generic Substrate node implementation in Rust."
build = "build.rs"
edition = "2018"
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"
default-run = "deeper-chain"
homepage = "https://substrate.dev"
repository = "https://github.com/paritytech/substrate/"

[package.metadata.wasm-pack.profile.release]
# `wasm-opt` has some problems on linux, see
# https://github.com/rustwasm/wasm-pack/issues/781 etc.
wasm-opt = false

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[badges]
travis-ci = { repository = "paritytech/substrate" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "paritytech/substrate" }
is-it-maintained-open-issues = { repository = "paritytech/substrate" }

[[bin]]
name = "deeper-chain"
path = "bin/main.rs"
required-features = ["cli"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# third-party dependencies
codec = { package = "parity-scale-codec", version = "2.0.0" }
serde_json = '1.0'
serde = { version = "1.0.102", features = ["derive"] }
futures = { version = "0.3.9", features = ["compat"] }
hex-literal = "0.3.1"
log = "0.4.8"
rand = "0.7.2"
structopt = { version = "0.3.8", optional = true }
parking_lot = "0.11.1"

# primitives
sp-authority-discovery = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sp-consensus-babe = {git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
grandpa-primitives = { package = "sp-finality-grandpa", git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sp-core = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}
sp-runtime = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}
sp-timestamp = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false}
sp-inherents = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}
sp-keyring = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sp-keystore = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sp-io = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sp-consensus = {git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }

# frontier primitives
fp-consensus = { version = "1.0.0", path = "../frontier/primitives/consensus"}
fp-evm = { version = "2.0.0", path = "../frontier/primitives/evm"}
fp-rpc = { version = "2.1.0", path = "../frontier/primitives/rpc"}
fp-storage = { version = "2.0.0", path = "../frontier/primitives/storage"}

# client dependencies
sc-client-api = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-chain-spec = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-consensus = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-network = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-consensus-slots = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-consensus-babe = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
grandpa = { package = "sc-finality-grandpa", git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-client-db = { default-features = false, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-offchain = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-rpc = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-service = { default-features = false, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-tracing = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-telemetry = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-authority-discovery = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-finality-grandpa-warp-sync = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", optional = true }

# frontier client dependencies
fc-consensus = { path = "../frontier/client/consensus" }
fc-rpc = { path = "../frontier/client/rpc" }
fc-rpc-core = { path = "../frontier/client/rpc-core" }
fc-db = { path = "../frontier/client/db" }
fc-mapping-sync = { path = "../frontier/client/mapping-sync" }

# frame dependencies
pallet-indices = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
pallet-timestamp = { default-features = false, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
pallet-contracts = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
frame-system = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
pallet-balances = { version = "3.0.0", path = "../pallets/balances" }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}
frame-support = {default-features = false, git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}
pallet-im-online = { default-features = false, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
pallet-authority-discovery = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
pallet-staking = { path = "../pallets/staking", version = "3.0.0"}
pallet-grandpa = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
pallet-deeper-node = { version = "3.0.0", path = "../pallets/deeper-node" }
pallet-eth-sub-bridge = { version = "3.0.0", default-features = false, path = "../pallets/bridge"}
pallet-credit = {version = "3.0.0", default-features = false, path = "../pallets/credit"}
pallet-micropayment = {version = "3.0.0", default-features = false, path = "../pallets/micropayment"}

# frontier frame dependencies
pallet-evm = { version = "5.0.0", default-features = false, path = "../frontier/frame/evm"}
pallet-ethereum = { version = "3.0.0", default-features = false, path = "../frontier/frame/ethereum"}
pallet-dynamic-fee = { version = "3.0.0", default-features = false, path = "../frontier/frame/dynamic-fee"}

# node-specific dependencies
node-runtime = { version = "2.0.0", path = "../runtime" }
node-rpc = { version = "2.0.0", path = "../rpc" }
node-primitives = { version = "2.0.0", path = "../primitives" }
node-executor = { version = "2.0.0", path = "../executor" }

# CLI-specific dependencies
sc-cli = { optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
frame-benchmarking-cli = { optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
node-inspect = { version = "0.8.0", optional = true, path = "../inspect" }

# WASM-specific dependencies
wasm-bindgen = { version = "0.2.57", optional = true }
wasm-bindgen-futures = { version = "0.4.18", optional = true }
browser-utils = { package = "substrate-browser-utils",  optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0"}

[target.'cfg(target_arch="x86_64")'.dependencies]
node-executor = { version = "2.0.0", path = "../executor", features = [ "wasmtime" ] }
sc-cli = { optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0", features = [ "wasmtime" ] }
sc-service = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false, features = [ "wasmtime" ] }
sp-trie = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false, features = ["memory-tracker"] }

[dev-dependencies]
sc-keystore = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-consensus = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-consensus-babe = { features = ["test-helpers"], git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-consensus-epochs = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
sc-service-test = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
futures = "0.3.9"
tempfile = "3.1.0"
assert_cmd = "1.0"
nix = "0.19"
serde_json = "1.0"
regex = "1"
platforms = "1.1"

[build-dependencies]
structopt = { version = "0.3.8", optional = true }
node-inspect = { version = "0.8.0", optional = true, path = "../inspect" }
frame-benchmarking-cli = { optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
substrate-build-script-utils = { optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }
substrate-frame-cli = { optional = true, git = "https://github.com/paritytech/substrate", tag = "v3.0.0" }

[build-dependencies.sc-cli]
package = "sc-cli"
git = "https://github.com/paritytech/substrate"
tag = "v3.0.0"
optional = true

[features]
default = [ "cli" ]
browser = [
	"browser-utils",
	"wasm-bindgen",
	"wasm-bindgen-futures",
]
cli = [
	"node-executor/wasmi-errno",
	"node-inspect",
	"sc-cli",
	"frame-benchmarking-cli",
	"substrate-frame-cli",
	"sc-service/db",
	"sc-finality-grandpa-warp-sync",
	"structopt",
	"substrate-build-script-utils",
]
runtime-benchmarks = [
	"node-runtime/runtime-benchmarks",
	"frame-benchmarking-cli",
]
