[package]
name = "node-bench"
version = "0.8.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Substrate node integration benchmarks."
edition = "2018"
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.8"
node-primitives = { version = "2.0.0", path = "../primitives" }
node-testing = { version = "2.0.0", path = "../testing" }
node-runtime = { version = "2.0.0", path = "../runtime" }
sc-client-api = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sp-runtime = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sp-state-machine = { git = "https://github.com/paritytech/substrate", version = "0.10.0-dev" }
serde = "1.0.101"
serde_json = "1.0.41"
structopt = "0.3"
derive_more = "0.99.2"
kvdb = "0.10.0"
kvdb-rocksdb = "0.14.0"
sp-trie = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sp-core = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sp-consensus = { git = "https://github.com/paritytech/substrate", version = "0.10.0-dev" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", version = "0.10.0-dev" }
sp-inherents = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sp-timestamp = { default-features = false, git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
sp-tracing = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev"}
hash-db = "0.15.2"
tempfile = "3.1.0"
fs_extra = "1"
hex = "0.4.0"
rand = { version = "0.7.2", features = ["small_rng"] }
lazy_static = "1.4.0"
parity-util-mem = { version = "0.10.2", default-features = false, features = ["primitive-types"] }
parity-db = { version = "0.3.2" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", version = "4.0.0-dev" }
futures = { version = "0.3.4", features = ["thread-pool"] }
