name: build

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: [self-hosted,linux]
    steps:
      - name: Checkout Chain Repository
        uses: actions/checkout@v3

      - name: Checkout Integration Tests Repository
        uses: actions/checkout@v3
        with:
          repository: deeper-chain/integration-tests
          path: './integration-tests'

      - name: Setup rust toolchain
        run: rustup show
      - name: Setup protoc
        uses: arduino/setup-protoc@v1

      - name: Compile
        run: cargo build

      - name: Install node env
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: start dev chain
        run: nohup ./target/debug/deeper-chain --dev > /tmp/chain-dev.log &

      - name: Sleep for 120 seconds
        run: sleep 120s
        shell: bash

      - name: run integration tests
        working-directory: ./integration-tests
        run: |
          npm install
          npm run test

      - name: Compile EZC contract
        working-directory: ./integration-tests
        run: npm run contract:compile

      - name: Deploy EZC contract to chain
        working-directory: ./integration-tests
        run: npm run contract:deploy
