name: style_check

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  style_check:
    name: cargo fmt and
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup rust toolchain
        run: |
          rustup show
          rustup component add rustfmt clippy
      - name: Setup protoc
        uses: arduino/setup-protoc@v1

      - name: Cargo Fmt Check
        run: cargo fmt --all -- --check

      # - name: Cargo Clippy check
      #   run: SKIP_WASM_BUILD=1 env -u RUSTFLAGS cargo clippy --all-targets
